:host /deep/{
  .form{
    padding: 24px;
    padding-bottom: 82px;
    width: 512px;
  }

  .content{
    padding-left: 46px;
    padding-right: 10px;
  }

  .icon{
    font-size: 24px;
    position: absolute;
    top:10px;
    margin-right: 12px;
    margin-left: 10px;
  }

  .operation{
    float: right;
  }

  .btn-colored-primay{
    color: #fff;
    background: var(--default-primary-color);
  }

  .btn-colored-danger{
    color: #fff;
    background: #ff5252;
  }

  .area-warning{
    background-color: #fbe9e7;
    color: #d50000;
    flex-wrap: wrap;
    margin: 0 0 24px 0;
    flex-direction: row;
    position: relative;
    padding: 12px 0;
    line-height: 20px;
    font-size: 14px;
  }

  .area-info{
    background-color: #eceff1;
    color: #546e7a;
    flex-wrap: wrap;
    margin: 0 0 24px 0;
    flex-direction: row;
    position: relative;
    padding: 12px 0;
    line-height: 20px;
    font-size: 14px;
  }

  .data-list{
    margin-bottom: 10px;
  }

  .data-title{
    color: rgba(0,0,0,0.54);
    display: block;
    font-size: 13px;
    padding-bottom: 8px;
  }

  .btn-cancel{
    margin-right: 10px;
  }

  .btn{
    text-transform: uppercase;
  }

  .mat-dialog-actions {
    padding: 23px 0;
  }
}
