<div class="form">
  <h2 mat-dialog-title>{{data.title}}</h2>

  <mat-dialog-content *ngIf="(data.type === 'delete')" class="area-warning">
    <div fxLayout="column">
      <mat-icon class="icon">warning</mat-icon>
      <div class="content">
        {{data.content}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-content *ngIf="(data.type === 'confirm_alert')" class="area-warning">
    <div fxLayout="column">
      <mat-icon class="icon">warning</mat-icon>
      <div class="content">
        {{data.content}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-content *ngIf="(data.type === 'fail')" class="area-warning">
    <div fxLayout="column">
      <mat-icon class="icon">warning</mat-icon>
      <div class="content">
        {{data.content}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-content *ngIf="(data.type === 'disable')" class="area-warning">
    <div fxLayout="column">
      <mat-icon class="icon">warning</mat-icon>
      <div class="content">
        {{data.content}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-content *ngIf="(data.type === 'enable')" class="area-info">
    <div fxLayout="column">
      <mat-icon class="icon">information</mat-icon>
      <div class="content">
        {{data.content}}
      </div>
    </div>
  </mat-dialog-content>


  <mat-dialog-content *ngIf="(data.data)">
    <div fxLayout="column">
      <div class="data-title">
        {{data.data_title}}
      </div>
      <div class="data-list">
        {{data.data}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="operation">
    <button class="btn btn-cancel" mat-raised-button [mat-dialog-close]="false">{{data.btn_cancel_text}}</button>
    <button *ngIf="(data.type === 'confirm_alert')" class="btn btn-colored-danger" mat-button [mat-dialog-close]="true">
      {{data.btn_confirm_text}}
    </button>
    <button *ngIf="(data.type === 'delete')" class="btn btn-colored-danger" mat-button [mat-dialog-close]="true">
      {{data.btn_confirm_text}}
    </button>
    <button *ngIf="(data.type === 'disable')" class="btn btn-colored-danger" color="primary" mat-button [mat-dialog-close]="true">
      {{data.btn_confirm_text}}
    </button>
    <button *ngIf="(data.type === 'enable')" class="btn btn-colored-primay" mat-button [mat-dialog-close]="true">
      {{data.btn_confirm_text}}
    </button>
  </mat-dialog-actions>
</div>

