@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();


$primary: mat-palette($mat-blue-gray, 900);
$accent:  mat-palette($mat-light-blue, 500, A100, A400);

$warn:    mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

@include covalent-theme($theme);

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
