
$default-primary-color: #212121;
$dark-primary-color: #000000;
$light-primary-color: #484848;
$accent-color : #212121;

$primary-text-color: #ffffff;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$card-background : #eceff1;

$font-primary: Roboto,"Helvetica Neue",sans-serif;
$font-secondary: 'Sriracha', cursive;
