
$default-primary-color: #1976d2;
$dark-primary-color: #1565c0;
$light-primary-color: #BBDEFB;
$accent-color : #03a9f4;

$primary-text-color: rgba(0,0,0,0.87);
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$card-background : #eceff1;

$font-primary: Roboto,"Helvetica Neue",sans-serif;
$font-secondary: 'Sriracha', cursive;
