<div fxLayout="column">

  <div fxLayout="row" class="language-sw">
    <button matTooltip="ภาษาไทย" mat-mini-fab color="">TH</button>
    <div style="margin-left: 3px;"></div>
    <button matTooltip="English" mat-mini-fab color="primary">EN</button>
  </div>

  <div fxLayout="row" class="profile-info">

    <!--<div>-->
      <!--<img class="profile-image" src="../assets/images/chaiwut.jpg">-->
    <!--</div>-->

    <div fxLayout="column" class="profile-detail" fxFlex>
      <div>
        <mat-chip-list>
          <mat-chip color="primary" selected="true"><span class="hello">Hello</span></mat-chip>
        </mat-chip-list>
      </div>
      <div fxLayout="row" style="margin-top: 15px;font-size: 1.5rem;">
        <div class="i-am">I'm</div>
        <div class="name">
          Chaiwut Maneechot
        </div>
      </div>
      <div class="position" fxLayout="row">
        Full Stack Developer
      </div>

      <div class="divider"></div>

      <div class="description">
        I am a developer with 5 year experience,
        Experienced with full stack of development cycle for JavaEE (web application) with <b>ZK framework</b> project.
        Fast learner,
        Deeper understanding of programming,design,architectural concepts.
        Interest in Google Developers, <b>Angular</b>, <b>Firebase</b> and <b>Google Cloud Pateform</b>
      </div>

      <div class="description push-top-sm">
        I am committed to developing itself as a <b>Good Developer</b>.
      </div>
      <div class="push-top"></div>
      <button mat-raised-button color="accent" class="download">Download CV
        <mat-icon>file_download</mat-icon>
      </button>
    </div>

  </div>
  <div class="social-link" fxLayout="row">
    <div fxFlex>
      <a matTooltip="My github" target="_blank" href="https://github.com/chaiwutmaneechot">
        <i class="fa fa-github social-button"></i>
      </a>
      <a matTooltip="My facebook" target="_blank" href="https://www.facebook.com/chaiwut.maneechot">
        <i class="fa fa-facebook social-button"></i>
      </a>
      <a matTooltip="My twitter" target="_blank"
         href="https://twitter.com/chaiwut_maneech">
        <i class="fa fa-twitter social-button"></i>
      </a>
      <a matTooltip="My tello" target="_blank"
         href="https://trello.com/chaiwutmaneechot1">
        <i class="fa fa-trello social-button"></i>
      </a>
      <a matTooltip="My youtube channel" target="_blank"
         href="https://www.youtube.com/channel/UCokOLO_r8BlaDfoB3CASTvw?view_as=subscriber">
        <i class="fa fa-youtube social-button"></i>
      </a>
    </div>
  </div>

  <div class="pad-sm" style="background: #efefef">

    <div [fxLayout]="(!media.query('gt-sm')) ? 'column':'row'">

      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>
            <span style="font-weight: 500">Personal Information</span>
          </mat-card-title>
        </mat-card-header>
        <div class="divider"></div>
        <mat-card-content>
          <div fxLayout="column">
            <div fxLayout="row">
              <span class="mat-body-2" style="width: 100px;">Name</span>
              <span style="margin-right: 5px">:</span>
              <span class="mat-body-2" style="font-weight: 400;">Chaiwut Maneechot</span>
            </div>
            <div fxLayout="row">
              <span class="mat-body-2" style="width: 100px">Date of Birth</span>
              <span style="margin-right: 5px">:</span>
              <span class="mat-body-2" style="font-weight: 400;">May 07, 1992 (Age: 25 years)</span>
            </div>
            <div fxLayout="row">
              <span class="mat-body-2" style="width: 100px">Nationality</span>
              <span style="margin-right: 5px">:</span>
              <span class="mat-body-2" style="font-weight: 400;">Thai</span>
            </div>
            <div fxLayout="row">
              <span class="mat-body-2" style="width: 100px">Religion</span>
              <span style="margin-right: 5px">:</span>
              <span class="mat-body-2" style="font-weight: 400;">Buddhism</span>
            </div>
            <div fxLayout="row">
              <span class="mat-body-2" style="width: 100px">Phone</span>
              <span style="margin-right: 5px">:</span>
              <span class="mat-body-2" style="font-weight: 400;">061-2986542</span>
            </div>
            <div fxLayout="row">
              <span class="mat-body-2" style="width: 100px">Email</span>
              <span style="margin-right: 5px">:</span>
              <span class="mat-body-2" style="font-weight: 400;">chaiwutmaneechot@gmail.com</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex>
        <mat-card-title>
          <span style="font-weight: 500">Education</span>
        </mat-card-title>
        <div class="divider"></div>
        <mat-card-content>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100px" style="padding-top: 3px;">
              <span>Feb 2010 -</span>
              <span>May 2014</span>
            </div>
            <div fxLayout="column">
              <span class="mat-subheader" style="font-size: 1.2rem;font-weight: 500;">
                Rajamangala University of Technology Lanna
              </span>
              <span class="mat-subheader"
                    style="font-size: 1rem; margin: 5px 0 10px 0;">
                Bachelor’s degree
              </span>
              <div fxLayout="row">
                <span class="mat-body-2" style="width: 100px;">Factory</span>
                <span style="margin-right: 5px">:</span>
                <span class="mat-body-2" style="font-weight: 400;">Engineering</span>
              </div>
              <div fxLayout="row">
                <span class="mat-body-2" style="width: 100px;">Major</span>
                <span style="margin-right: 5px">:</span>
                <span class="mat-body-2" style="font-weight: 400;">Computer Engineering</span>
              </div>
              <div fxLayout="row">
                <span class="mat-body-2" style="width: 100px">G.P.A.</span>
                <span style="margin-right: 5px">:</span>
                <span class="mat-body-2" style="font-weight: 400;">3.33</span>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

    </div>

    <div [fxLayout]="(!media.query('gt-sm')) ? 'column':'row'">

      <mat-card fxFlex>
        <mat-card-title>
          <span style="font-weight: 500">Skills</span>
        </mat-card-title>
        <div class="divider"></div>
        <mat-card-content>
          <div fxLayout="column">

            <span class="mat-body-2" style="font-weight: 500;">
                  Programming Language :
            </span>
            <ul>
              <li>Java (Java7/Java8)</li>
              <li>TypeScript</li>
              <li>JavaScript (ES5/ES6)</li>
              <li>HTML, XHTML</li>
              <li>CSS, SASS</li>
              <li>C++</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  OS Language :
            </span>
            <ul>
              <li>Mac</li>
              <li>Linux</li>
              <li>Windows</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  Framework :
            </span>
            <ul>
              <li>ZK Framework</li>
              <li>Spring Framework</li>
              <li>Angular</li>
              <li>Android</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  Database :
            </span>
            <ul>
              <li>Firebase Realtime Database</li>
              <li>MongoDB</li>
              <li>MySQL</li>
              <li>Microsoft SQL Server</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  Environment & Tools :
            </span>
            <ul>
              <li>Android Studio</li>
              <li>IntelliJ IDEA</li>
              <li>WebStorm</li>
              <li>Eclipse</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  Continuous Integration & Deployment :
            </span>
            <ul>
              <li>Google Cloud Platforme (GCP)</li>
              <li>Firebase</li>
              <li>Docker</li>
              <li>Heroku</li>
              <li>CircleCI</li>
              <li>Travis</li>
              <li>Tomcat</li>
              <li>Node</li>
              <li>IIS</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  Design skill sets:
            </span>
            <ul>
              <li>Materail Design</li>
              <li>Boostrap</li>
              <li>HCI</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
                  Miscellaneous :
            </span>
            <ul>
              <li>Trello</li>
              <li>Git</li>
              <li>Github</li>
              <li>J2EE</li>
              <li>Joomla</li>
              <li>WordPress</li>
              <li>MEAN Stack</li>
              <li>Hibernate</li>
              <li>OpenCV && Image Processing</li>
              <li>OOP, MVC, MVP, MVVM</li>
              <li>Unit Test</li>
            </ul>

            <span class="mat-body-2" style="font-weight: 500;">
              Language :
            </span>
            <div style="margin-left: 20px">
              <div fxLayout="row">
                <span class="mat-body-2" style="width: 80px">Thai</span>
                <span style="margin-right: 5px">:</span>
                <span class="mat-body-2" style="font-weight: 400;">Native</span>
              </div>
              <div fxLayout="row">
                <span class="mat-body-2" style="width: 80px">English</span>
                <span style="margin-right: 5px">:</span>
                <span class="mat-body-2" style="font-weight: 400;">Fair</span>
              </div>
            </div>

          </div>
        </mat-card-content>
      </mat-card>


      <mat-card fxFlex>
        <mat-card-title>
          <span style="font-weight: 500">Experience</span>
        </mat-card-title>
        <div class="divider"></div>
        <mat-card-content>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100px" style="padding-top: 3px;">
              <span>May 2016 -</span>
              <span>Sep 2017</span>
            </div>
            <div fxLayout="column">
              <span class="mat-subheader" style="font-size: 1.2rem;font-weight: 500;">
                Full Stack Developer
              </span>
              <span class="mat-subheader"
                    style="font-size: 1rem; margin: 5px 0 0 0;">
                Sefware Co.,Ltd.
              </span>
              <span class="mat-subheader"
                    style="font-size: 1rem; margin: 5px 0 10px 0;">
                    <i style="font-weight: 300">Chiang Mai, Thailand</i>
              </span>
              <span class="mat-body-2" style="font-weight: 400;">
                Drove all phases of enterprise integration and process improvement in <b>Sefware PMS</b> (Property Mangement Systems) to successful completion, including application availability initiatives
              </span>

              <ul>
                <li>Understand Business Requirements. </li>
                <li>Participates in System Requirement Analysis.</li>
                <li>Design Applications based on System Requirements and Architecture, prototype, develop, unit test and deployment.</li>
                <li>Set-up, configuration of development for ZK Framework</li>
                <li>Troubleshoot and resolve performance issues</li>
                <li>Lead a team of developers </li>
                <li>Mentoring more junior developers</li>
                <li>Assist in design of web based applications for internal and external websites </li>
              </ul>

              <span class="mat-body-2" style="font-weight: 500;">
                  Technologies :
              </span>
              <ul>
                <li>ZK Framework</li>
                <li>Maven project</li>
                <li>Java EE</li>
                <li>Javascript (ES5/ES6)</li>
                <li>Tomcat 8</li>
                <li>Materail design</li>
                <li>Github (Private)</li>
                <li>Google Cloud Platform (GCP)</li>
                <li>Load Balancing with 2 instance on Google Cloud Plateform</li>
                <li>Firebase (Realtime Database, Authentication, Storage)</li>
              </ul>
            </div>
          </div>

          <div style="padding-bottom: 20px;"></div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100px" style="padding-top: 8px;">
              <span>June 2015 -</span>
              <span>May 2016</span>
            </div>
            <div fxLayout="column">
              <span class="mat-subheader" style="font-size: 1.2rem;margin: 5px 0 10px 0;font-weight: 500;">
                Freelance & Outsource
              </span>
              <span class="mat-body-2" style="font-weight: 400;margin-bottom: 5px;">
                Develop web application with <b>ZK Framework</b>,
                <b>Android</b> application and public application in Google Play Store.
              </span>
              <span class="mat-body-2" style="font-weight: 500;">
                  Outsource Projects :
              </span>
              <ul>
                <li>VIVA</li>
                <li>Fai Bakery</li>
                <li>Mansion</li>
              </ul>

              <span class="mat-body-2" style="font-weight: 500;">
                  Other Projects :
              </span>
              <ul>
                <li>แนวข้อสอบ ก.พ.</li>
                <li>แบบฝึกหัด ป.1</li>
                <li>DINOSORUS Puzzle</li>
              </ul>

            </div>
          </div>

          <div style="padding-bottom: 20px;"></div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100px" style="padding-top: 3px;">
              <span>June 2013 -</span>
              <span>May 2015</span>
            </div>
            <div fxLayout="column">

              <span class="mat-subheader" style="font-size: 1.2rem;font-weight: 500;">
                Java Web Developer
              </span>
              <span class="mat-subheader"
                    style="font-size: 1rem; margin: 5px 0 0 0;">
                    Mega Prosoft Limited Partnership.ncu
              </span>
              <span class="mat-subheader"
                    style="font-size: 1rem; margin: 5px 0 10px 0;">
                    <i style="font-weight: 300">Chiang Mai, Thailand</i>
              </span>

              <span class="mat-body-2" style="font-weight: 400;margin-bottom: 5px;">
                Develop java web application of ERP industry with <b>ZK Framework</b>.
                <b>Android Develop</b>, <b>CMS Website</b> and Network Engineer.
              </span>

              <span class="mat-body-2" style="font-weight: 500;">
                  ERP Projects :
              </span>
              <ul>
                <li>Resolve and close assigned issue</li>
                <li>Develop and improve stored procedure of SQL Server</li>
                <li>Develop and improve and MegaStock (Stock management)</li>
                <li>Support and solving the problem of production server of customers</li>
              </ul>
              <span class="mat-body-2" style="font-weight: 500;">
                  Android Projects :
              </span>
              <ul>
                <li>Inventory Management with Barcode for ERP</li>
                <li>TV Monitor presentation</li>
                <li>Car Care Management System</li>
              </ul>
              <span class="mat-body-2" style="font-weight: 500;">
                  Other Projects :
              </span>
              <ul>
                <li>Video Recognitions</li>
                <li>Website & Web Application of Multiple Cropping Center (MCC)</li>
                <li>Network configuration</li>
              </ul>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>
