
.body{
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}
.photo{
  background-image: url("http://www.dobango.com/images/notfound.png");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

.example-container {
  width: 117px;
  margin-left: 45%;
  background-color: #4285f4;

}




