<div fxLayout="column">

  <div fxLayout="row" class="language-sw">
    <button matTooltip="ภาษาไทย" mat-mini-fab [color]="(lang) === 'th'?'primary':''" (click)="selectLanguage('th')">TH
    </button>
    <div style="margin-left: 3px;"></div>
    <button matTooltip="English" mat-mini-fab [color]="(lang) === 'en'?'primary':''" (click)="selectLanguage('en')">EN
    </button>
  </div>

  <div [fxLayout]="isSmallScreen? 'column':'row'" class="profile-info">
    <div class="card-box" fxLayout="column" fxFlexAlign="center">
      <img [class]="isSmallScreen? 'profile-image-sm':'profile-image'" src="../assets/images/chaiwut.jpg">
    </div>

    <div *ngIf="!isSmallScreen" class="divider-row"></div>

    <div fxLayout="column" class="profile-detail">
      <div>
        <mat-chip-list>
          <mat-chip color="primary" selected="true"><span class="hello">{{'hello' | translate:lang}}</span></mat-chip>
        </mat-chip-list>
      </div>
      <div fxLayout="row">
        <div class="i-am">{{ 'iam' | translate:lang}}</div>
        <div class="name">
          {{ 'full_name' | translate:lang}}
        </div>
      </div>
      <div>
        <div class="position" fxLayout="row">
          {{'position' | translate:lang}}
        </div>
        <div fxLayout="row" class="location">
          <mat-icon style="color: red;">place</mat-icon>
          <div>
            {{'location' | translate:lang}}
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div fxLayout="column">
        <div fxLayout="row" class="line">
          <span class="header header-fixwidth">{{'date_of_birth' | translate:lang}}</span>
          <span class="detail">{{'date_of_birth_detail' | translate:lang}}  ({{'age_detail' | translate:lang}})</span>
        </div>
        <div fxLayout="row" class="line">
          <span class="header header-fixwidth">{{'nationality' | translate:lang}}</span>
          <span class="detail">{{'nationality_detail' | translate:lang}}</span>
        </div>
        <div fxLayout="row" class="line">
          <span class="header header-fixwidth">{{'religion' | translate:lang}}</span>
          <span class="detail">{{'religion_detail' | translate:lang}}</span>
        </div>
        <div fxLayout="row" class="line">
          <span class="header header-fixwidth">{{'phone' | translate:lang}}</span>
          <span class="detail">{{'phone_detail' | translate:lang}}</span>
        </div>
        <div fxLayout="row" class="line">
          <span class="header header-fixwidth">{{'email' | translate:lang}}</span>
          <span class="detail">{{'email_detail' | translate:lang}}</span>
        </div>
      </div>

      <div style="margin-top: 20px"></div>

      <div fxLayout="row">
        <button mat-raised-button color="accent" class="download" (click)="openSocailLink('cv')">
          {{ 'download_cv' | translate:lang}}
          <mat-icon>file_download</mat-icon>
        </button>
        <div style="margin-left: 10px;"></div>
        <button mat-button color="" class="download" (click)="openSocailLink('github_profile')">
          <i class="fa fa-github social-button" style="font-size: 1.6rem;"></i>
          {{ 'view_on_github' | translate:lang}}
        </button>
      </div>

    </div>

  </div>

  <div class="social-link" fxLayout="row">
    <div fxFlex>
      <a matTooltip="My github">
        <i class="fa fa-github social-button" (click)="openSocailLink('github')"></i>
      </a>
      <a matTooltip="My facebook">
        <i class="fa fa-facebook social-button" (click)="openSocailLink('facebook')"></i>
      </a>
      <a matTooltip="My twitter">
        <i class="fa fa-twitter social-button" (click)="openSocailLink('twitter')"></i>
      </a>
      <a matTooltip="My trello">
        <i class="fa fa-trello social-button" (click)="openSocailLink('trello')"></i>
      </a>
      <a matTooltip="My youtube channel">
        <i class="fa fa-youtube social-button" (click)="openSocailLink('youtube')"></i>
      </a>
    </div>
  </div>

  <div class="content" fxLayout="column">
    <mat-card class="content-card">
      <mat-card-header>
        <mat-card-title>{{'summary' | translate:lang}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>{{'summary_1' | translate:lang}}</li>
          <li>{{'summary_2' | translate:lang}}</li>
          <li>{{'summary_3' | translate:lang}}</li>
          <li>{{'summary_4' | translate:lang}}</li>
          <li>{{'summary_5' | translate:lang}}</li>
          <li>{{'summary_6' | translate:lang}}</li>
          <li>{{'summary_7' | translate:lang}}</li>
          <li>{{'summary_8' | translate:lang}}</li>
          <li>{{'summary_9' | translate:lang}}</li>
          <li>{{'summary_10' | translate:lang}}</li>
          <li>{{'summary_11' | translate:lang}}</li>
          <li>{{'summary_12' | translate:lang}}</li>
          <li>{{'summary_13' | translate:lang}}</li>
          <li>{{'summary_14' | translate:lang}}</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="content-card" style="margin-top: 0px;">
      <mat-card-header>
        <mat-card-title>{{'skills' | translate:lang}}</mat-card-title>
        <mat-card-subtitle>{{'skill_detail' | translate:lang}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div [fxLayout]="isBigScreen?'row':'column'">

          <div [fxLayout]="isSmallScreen?'column':'row'" [fxFlex]="isBigScreen?'66':'100'">
            <div fxLayout="column" [fxFlex]="isSmallScreen?'100':'50'">
              <div class="header">
                {{'programming_language' | translate:lang}} :
              </div>
              <ul>
                <li>Java (Java7/Java8)</li>
                <li>TypeScript</li>
                <li>JavaScript (ES5/ES6)</li>
                <li>HTML, XHTML</li>
                <li>CSS, SASS</li>
                <li>C++</li>
              </ul>

              <div class="header">
                {{'framework' | translate:lang}} :
              </div>
              <ul>
                <li>ZK Framework</li>
                <li>Spring Framework</li>
                <li>Angular</li>
                <li>Android</li>
              </ul>

              <div class="header">
                {{'os_language' | translate:lang}} :
              </div>
              <ul>
                <li>Mac</li>
                <li>Linux</li>
                <li>Windows</li>
              </ul>

              <div class="header">
                {{'design_skill_sets' | translate:lang}} :
              </div>
              <ul>
                <li>Material Design</li>
                <li>Bootstrap</li>
              </ul>
            </div>

            <div fxLayout="column" [fxFlex]="isSmallScreen?'100':'50'">

              <div class="header">
                {{'database' | translate:lang}} :
              </div>
              <ul>
                <li>Firebase Real Time Database</li>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>Microsoft SQL Server</li>
              </ul>

              <div class="header">
                {{'environment_and_tools' | translate:lang}} :
              </div>
              <ul>
                <li>Jetbrain IDEA</li>
                <li>Android Studio</li>
                <li>Eclipse</li>
              </ul>

              <div class="header">
                {{'continuous_integration_and_deployment' | translate:lang}} :
              </div>
              <ul>
                <li>Google Cloud Platform (GCP)</li>
                <li>Firebase</li>
                <li>Docker</li>
                <li>Heroku</li>
                <li>CircleCI</li>
                <li>Travis</li>
                <li>Tomcat</li>
                <li>Node</li>
                <li>IIS</li>
              </ul>
            </div>
          </div>

          <div fxLayout="column">
            <div class="header">
              {{'miscellaneous' | translate:lang}} :
            </div>
            <ul>
              <li>Trello</li>
              <li>Git</li>
              <li>Github</li>
              <li>J2EE</li>
              <li>Joomla</li>
              <li>WordPress</li>
              <li>MEAN Stack</li>
              <li>Hibernate</li>
              <li>OpenCV && Image Processing</li>
              <li>OOP, MVC, MVP, MVVM</li>
              <li>SPA (Single Page Application)</li>
              <li>Unit Test</li>
            </ul>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="content-card" style="margin-top: 0px;">
      <mat-card-header>
        <mat-card-title>{{'work_history' | translate:lang}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <div class="header">
            Full Stack Developer
          </div>
          <div fxLayout="row">
            <div class="subheader">
              {{'sefware' | translate:lang}}
            </div>
            <div style="margin: 0 5px">-</div>
            <div>
              {{'sefware_location' | translate:lang}}
            </div>
          </div>
          <div>{{'sefware_date' | translate:lang}}</div>

          <div class="description">
            {{'description' | translate:lang}}
          </div>
          <div>
            {{'sefware_description' | translate:lang}}
          </div>

          <div class="responsibilities">
            <div class="responsibilities_title">
              {{'responsibilities' | translate:lang}} :
            </div>
            <ul>
              <li>{{'sefware_respons1' | translate:lang}}</li>
              <li>{{'sefware_respons2' | translate:lang}}</li>
              <li>{{'sefware_respons3' | translate:lang}}</li>
              <li>{{'sefware_respons4' | translate:lang}}</li>
              <li>{{'sefware_respons5' | translate:lang}}</li>
              <li>{{'sefware_respons6' | translate:lang}}</li>
              <li>{{'sefware_respons7' | translate:lang}}</li>
              <li>{{'sefware_respons8' | translate:lang}}</li>
            </ul>
          </div>

          <div class="environment">
            {{'environment' | translate:lang}} :
          </div>
          <div>
            ZK Framework, Java EE, Maven project, Javascript (ES5/ES6), Tomcat 8, Material design, Github (Private),
            Google Cloud Platform (GCP), Load Balancing on Google Cloud Platform, Firebase (Real Time Database,
            Authentication, Storage)
          </div>
        </div>

        <div class="divider" style="margin: 20px 0"></div>

        <div fxLayout="column">
          <div class="header">
            Freelance & Outsource
          </div>
          <div fxLayout="row">
            <div>
              {{'freelance_location' | translate:lang}}
            </div>
          </div>
          <div>{{'freelance_date' | translate:lang}}</div>

          <div class="description">
            {{'description' | translate:lang}} :
          </div>
          <div>
            {{'freelance_description' | translate:lang}}
          </div>

          <div class="responsibilities">
            <div class="responsibilities_title">
              {{'freelance_projects' | translate:lang}} :
            </div>
            <ul>
              <li>VIVA</li>
              <li>Fai Bakery</li>
              <li>Mansion</li>
              <li>แนวข้อสอบ ก.พ.</li>
              <li>แบบฝึกหัด ป.1</li>
              <li>Puzzle</li>
            </ul>
          </div>
        </div>

        <div class="divider" style="margin: 20px 0"></div>

        <div fxLayout="column">

          <div class="header">
            Java Web Developer
          </div>
          <div fxLayout="row">
            <div class="subheader">
              {{'mega_prosoft' | translate:lang}}
            </div>
            <div style="margin: 0 5px">-</div>
            <div>
              {{'mega_prosoft_location' | translate:lang}}
            </div>
          </div>
          <div>{{'mega_prosoft_date' | translate:lang}}</div>

          <div class="description">
            {{'description' | translate:lang}} :
          </div>
          <div>
            {{'mega_prosoft_description' | translate:lang}}
          </div>

          <div class="responsibilities">
            <div class="responsibilities_title">
              {{'responsibilities' | translate:lang}}
            </div>
            <div style="margin-left: 10px;">
              <div class="responsibilities" style="margin-top: 0px;">
                <div class="responsibilities_title">
                  {{'erp_projects' | translate:lang}} :
                </div>
                <ul>
                  <li>{{'erp_projects_1' | translate:lang}}</li>
                  <li>{{'erp_projects_2' | translate:lang}}</li>
                  <li>{{'erp_projects_3' | translate:lang}}</li>
                  <li>{{'erp_projects_4' | translate:lang}}</li>
                </ul>
              </div>

              <div class="responsibilities">
                <div class="responsibilities_title">
                  {{'android_projects' | translate:lang}} :
                </div>
                <ul>
                  <li>Inventory Management with Barcode for ERP</li>
                  <li>LED Monitor presentation</li>
                  <li>Car Care Management System</li>
                </ul>
              </div>

              <div class="responsibilities">
                <div class="responsibilities_title">
                  {{'other_projects' | translate:lang}} :
                </div>
                <ul>
                  <li>Video Recognitions</li>
                  <li>Website & Web Application of Multiple Cropping Center (MCC)</li>
                  <li>Network configuration</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="content-card" style="margin-top: 0px;">
      <mat-card-header>
        <mat-card-title>{{'education' | translate:lang}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <div class="header">
            {{'rmutl_degree' | translate:lang}}
          </div>
          <div class="">
            {{'rmutl' | translate:lang}}
          </div>
          <div class="">
            {{'rmutl_location' | translate:lang}}
          </div>
          <div class="detail">
            {{'rmutl_end' | translate:lang}}
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="content-card" style="margin-top: 0px;">
      <mat-card-header>
        <mat-card-title>{{'language' | translate:lang}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row">
          <span class="header header-fixwidth">{{'thai' | translate:lang}}</span>
          <span class="">{{'thai_detail' | translate:lang}}</span>
        </div>
        <div fxLayout="row">
          <span class="header header-fixwidth">{{'english' | translate:lang}}</span>
          <span class="">{{'english_detail' | translate:lang}}</span>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>
