@import "../../styles/variable";

.language-sw {
  position: absolute;
  right: 20px;
  top: 10px;
}

.profile-info {
  padding: 60px 20px 20px 20px;

  .card-box {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .divider-row {
    margin-left: 50px;
  }

  .profile-image {
    text-align: center;
    max-width: 300px;
    border-radius:50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  .profile-image-sm {
    text-align: center;
    width: 100%;
    max-width: 300px;
    border-radius:50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  .profile-detail {

    .hello {
      font-family: $font-secondary;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .i-am {
      margin-top: 5px;
      margin-right: 10px;
      font-weight: 400;
      font-size: 1.5rem;
    }

    .name {
      font-weight: 500;
      font-size: 1.8rem;
    }

    .position {
      font-size: 1.5rem;
      font-weight: 400;
      opacity: 0.7;
    }

    .location{
      margin-left: -5px;
      min-width: 200px;
      opacity: 0.7;
      line-height: 26px;
    }

    .divider {
      margin: 2px 0 20px 0;
      border-bottom: 2px solid $default-primary-color;
    }

    .description {
      margin-bottom: 20px;
    }

    .download {
      width: fit-content;
    }
  }
}

.social-link {
  text-align: center;
  height: 60px;
  background: $default-primary-color;
  font-size: 1.5rem;

  .social-button {
    margin: 0 10px;
    color: white;
    opacity: 0.8;
    line-height: 60px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.divider {
  border-bottom: 1px solid $divider-color;
}

.icon {
  width: 42px;
  height: 42px;
}

.line{
  line-height: 26px;
}

.header{
  font-weight: 400;
  width: 120px;
}

.detail{
  opacity: 0.7;
  font-weight: 400;
}
