<td-layout>
  <td-navigation-drawer flex sidenavTitle="HERO LOTTO" name="Firstname Lastname">
    <mat-nav-list>
      <a mat-list-item (click)="signOut()">
        <mat-icon style="margin-right: 10px">power_settings_new
        </mat-icon>
        ออกจากระบบ</a>
    </mat-nav-list>
    <!--<div style="height: 1px;background: #ddd"></div>-->
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="HERO LOTTO" navigationRoute="/">

    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <div td-toolbar-content layout="row" layout-align="start center" fxFlex="true">
      <!--<mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon>-->
      <div class="version">version 1.27</div>
      <span fxFlex="true"></span>

      <!--<button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">-->
      <!--<td-notification-count [notifications]="101">-->
      <!--<mat-icon>notifications</mat-icon>-->
      <!--</td-notification-count>-->
      <!--</button>-->

      <!--<mat-menu #notificationsMenu="matMenu" [overlapTrigger]="true">-->
      <!--<td-menu>-->
      <!--<div td-menu-header class="mat-subheading-2 push-none">Notifications</div>-->
      <!--<mat-nav-list dense>-->
      <!--<ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">-->
      <!--<a mat-list-item>-->
      <!--<mat-icon matListAvatar>today</mat-icon>-->
      <!--<h4 matLine><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>-->
      <!--<p matLine>22 minutes ago</p>-->
      <!--</a>-->
      <!--<mat-divider *ngIf="!last"></mat-divider>-->
      <!--</ng-template>-->
      <!--</mat-nav-list>-->
      <!--<button mat-button color="accent" td-menu-footer>-->
      <!--See All Notifications-->
      <!--</button>-->
      <!--</td-menu>-->
      <!--</mat-menu>-->
    </div>

    <div *tdLoading="'main'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab>
          <ng-template matTabLabel style="display: none !important;">
            <div layout="row" layout-align="center center">
              สูตรหวย
            </div>
          </ng-template>

          <div class="formular-card" fxFlex="true">
            <mat-card style="align-content: center" fxLayout="column">

              <div fxLayout="row">
                <mat-form-field fxFlex>
                  <mat-select placeholder="ประเภทการคำนวณ" [(value)]="selectedType">
                    <mat-option *ngFor="let type of types" [value]="type.value" [disabled]="!type.enable">
                      {{ type.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!--<button mat-raised-button color="primary" (click)="clearInput()" style="margin-left: 15px;height: 40px;margin-top: 10px;">-->
                <!--<mat-icon>cached</mat-icon>-->
                <!--ล้างรอบคำนวณ-->
                <!--</button>-->
              </div>


              <!--<div fxLayout="row" style="margin-bottom: 10px">-->
              <!--&lt;!&ndash;<button mat-raised-button color="primary">&ndash;&gt;-->
              <!--&lt;!&ndash;<mat-icon>content_paste</mat-icon>&ndash;&gt;-->
              <!--&lt;!&ndash;Copy วาง&ndash;&gt;-->
              <!--&lt;!&ndash;</button>&ndash;&gt;-->
              <!--&lt;!&ndash;<button mat-raised-button color="primary" (click)="openInput(null)">&ndash;&gt;-->
              <!--&lt;!&ndash;<mat-icon>edit</mat-icon>&ndash;&gt;-->
              <!--&lt;!&ndash;เพิ่มรอบการคำนวณ&ndash;&gt;-->
              <!--&lt;!&ndash;</button>&ndash;&gt;-->
              <!--<div style="width: 10px"></div>-->
              <!--<button mat-raised-button color="primary" (click)="clearInput()">-->
              <!--<mat-icon>cached</mat-icon>-->
              <!--รีเซ็ทข้อมูล-->
              <!--</button>-->
              <!--</div>-->

              <div fxLayout="column">

                <mat-nav-list dense flex>

                  <a mat-list-item [disableRipple]="true" style="background: #ddd;">
                    <div class="list-title">รอบ/เวลา</div>
                    <div fxFlex></div>
                    <div class="list-title">บน</div>
                    <div fxFlex="32px"></div>
                    <div class="list-title">ล่าง</div>
                    <div fxFlex="45px"></div>
                  </a>
                  <ng-template ngFor let-list [ngForOf]="inputs" let-currentElementIndex="index">
                    <a mat-list-item>
                      <div fxFlex="row">
                        <div class="list-label">{{ list.time }}</div>
                        <div fxFlex></div>
                        <div class="list-label">{{ list.up }}</div>
                        <div fxFlex="20px"></div>
                        <div class="list-label">-</div>
                        <div fxFlex="20px"></div>
                        <div class="list-label">{{ list.low }}</div>
                        <div fxFlex="20px"></div>
                      </div>
                      <div (click)="deleteInput(list)" fxFlex="26px">
                        <div class="list-label">
                          <mat-icon>close</mat-icon>
                        </div>
                      </div>
                    </a>

                    <mat-divider [inset]="true" style="padding-bottom: 0px"></mat-divider>

                  </ng-template>

                  <div *ngIf="inputs.length === 0" fxFlexAlign="center center" style="text-align: center;">
                    ข้อมูลว่างเปล่า
                  </div>

                </mat-nav-list>

                <div fxFlex="10px"></div>

                <div fxLayout="row" fxLayoutAlign="center">
                  <button class="btn-add-input" fxFlex mat-raised-button (click)="openInput(null)">
                    <mat-icon>add</mat-icon>
                    เพิ่มตัวเลขการคำนวณ
                  </button>
                </div>
                <div style="margin-top: 5px;">*ใส่ผลตัวเลขย้อนหลังของหวยที่ต้องการคำนวณอย่างน้อย 10 รอบ</div>

                <div fxFlex="40px"></div>
                <!--<mat-form-field>-->
                <!--<mat-select placeholder="เลือกแบบที่จะคำนวณ" [(value)]="selectedCal">-->
                <!--<mat-option *ngFor="let cal of calculate" [value]="cal.value" [disabled]="!cal.enable">-->
                <!--{{ cal.viewValue }}-->
                <!--</mat-option>-->
                <!--</mat-select>-->
                <!--</mat-form-field>-->

                <div fxLayout="row" fxLayoutAlign="center">
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('1')">
                    {{calculate[0].viewValue}}
                  </button>
                  <button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button color="primary"
                          (click)="calculateList('6')">
                    {{calculate[1].viewValue}}
                  </button>
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('7')">
                    {{calculate[2].viewValue}}
                  </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px">
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('9')">
                    {{calculate[4].viewValue}}
                  </button>
                  <button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button color="primary"
                          (click)="calculateList('10')">
                    {{calculate[5].viewValue}}
                  </button>
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('12')">
                    {{calculate[7].viewValue}}
                  </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px">
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('13')">
                    {{calculate[8].viewValue}}
                  </button>
                  <button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button color="primary"
                          (click)="calculateList('2')">
                    {{calculate[9].viewValue}}
                  </button>
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('3')">
                    {{calculate[10].viewValue}}
                  </button>
                </div>

                <!--<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px">-->
                <!--<button fxFlex mat-raised-button color="primary" (click)="calculateList('4')">-->
                <!--{{calculate[11].viewValue}}-->
                <!--</button>-->
                <!--<button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button color="primary"-->
                <!--(click)="calculateList('5')">-->
                <!--{{calculate[12].viewValue}}-->
                <!--</button>-->
                <!--<button-->
                <!--[longPress]="5000"-->
                <!--(onRelease)="someMethod()"-->
                <!--class="disable-button"-->
                <!--fxFlex mat-raised-button [disabled]="false">-->
                <!--สูตรอื่นๆ-->
                <!--</button>-->

                <!---->
                <!--</div>-->

                <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px">
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('4')">
                    {{calculate[11].viewValue}}
                  </button>
                  <button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button color="primary"
                          (click)="calculateList('5')">
                    {{calculate[12].viewValue}}
                  </button>
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('14')">
                    {{calculate[13].viewValue}}
                  </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px">
                  <button fxFlex mat-raised-button color="primary" (click)="calculateList('15')">
                    {{calculate[14].viewValue}}
                  </button>
                  <button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button color="primary"
                          (click)="calculateList('16')">
                    {{calculate[15].viewValue}}
                  </button>
                  <button fxFlex mat-raised-button color="primary"
                          (click)="calculateTList('17')">
                    {{calculate[16].viewValue}}
                  </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px">
                  <button fxFlex mat-raised-button color="primary" (click)="calculateT2List('18')">
                    {{calculate[17].viewValue}}
                  </button>
                  <button style="margin-left: 10px;margin-right: 10px;" fxFlex mat-raised-button [disabled]="true">
                    สูตรอื่นๆ
                  </button>
                  <button fxFlex mat-raised-button color="primary" mat-raised-button [disabled]="true">
                    สูตรอื่นๆ
                  </button>
                </div>

              </div>

              <button
                #menu="matMenuTrigger"
                [matMenuTriggerFor]="appMenu"
                style="display: none">
                สูตรอื่นๆ
              </button>

              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="calculateList('14')">{{calculate[13].viewValue}}</button>
                <button mat-menu-item (click)="calculateList('15')">{{calculate[14].viewValue}}</button>
                <button mat-menu-item (click)="calculateList('16')">{{calculate[15].viewValue}}</button>
              </mat-menu>

            </mat-card>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>

  </td-layout-nav>
</td-layout>

